/* General styling for the website */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fac21e;
    color: #333;
}

/* Header styling with logo and navigation bar */
header {
    background-color: #6fa8dc;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
}

.logo img {
    height: 50px; /* Adjust size of the logo */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #018786; /* Color when hovering over a link */
}

/* Main content styling */
main {
    padding: 2rem;
    text-align: center;
}

/* Section styling */
section {
    margin-bottom: 3rem;
}

/* Footer styling */
footer {
    background-color: #6fa8dc;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: absolute;
    width: 100%;
    bottom: 0;
}
